

<!DOCTYPE html>

<html lang = "en" ng-app = 'bookName'>
    <head>
        <meta charset ="utf-8">
        <title>My HTML bookName </title>
        <script src="../../node_modules/angular/angular.min.js"></script>
        <script src = "appBookname.js"></script>
        <script src = "filter.js"></script>
    </head>

    <body>
       <div ng-controller = "student">
           <div> 
                <input ng-model = "serch">
           </div>
           <ul>
               <li ng-repeat = "(key, value) in books | filter:serch | bestSeller:123 | CapFirstLetter">
                   <img src='{{value.imgUri}}'>
                   <h3>- {{value.name}} </h3>
                   <h3>-isbm: {{value.isbn}}</h3>
                   <br>
                   <button ng-click = "addItem(value.isbn)">
                    add {{value.isbn}} to card
                   </button>
               </li>
           </ul>
       </div>
       <hr>
       <div ng-controller="showCartCtrl">
            {{items}}     
           <button ng-click="getCart()">
            Show card
           </button>
       </div>

       <div ng-controller="byCtrl">
            <p> Full name:  {{user.firstname}} {{user.lastname}}</p>
            <input placeholder="firstname" ng-model="user.firstname">
            <input placeholder="lastname" ng-model="user.lastname">
            <button ng-click ="order()">place order!</button>

       </div>

    </body>

</html>
